.pd0 {
    padding: 0!important
}

.tab-content {
   padding: 20px;
    border: 1px solid #d8d8d8;
        margin-top: 2px;
}

/*.all_content .h1,.all_content .h2,.all_content .h3,.all_content .h4,.all_content .h5,.all_content .h6,.all_content h1,.all_content h2,.all_content h3,.all_content h4,.all_content h5,.all_content h6 {
    font-family: Lato,Arial,sans-serif;
    line-height: inherit;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: .6px
}*/

.main_content {
    margin-top: 40px
}

.a-post-box {
    margin-bottom: 20px;
    margin-left: 20px;
    position: relative
}

.a-post-box:last-child {
    margin-bottom: 0
}

.a-post-box .latest-txt {
    position: absolute;
    bottom: 0;
    padding: 30px;
    background-color: rgba(36,36,36,.2)
}

.a-post-box .latest-title {
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.2
}

.latest-txt h3 {
    margin: 10px 0
}

.a-post-box .latest-title a {
    color: #fff
}

.a-post-box .latest-title a:hover {
    color: #00ada7
}

.a-post-box .latest-cat a {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 1px 4px;
    color: #fff;
    background-color: #00ada7;
    font-size: 11px;
    text-decoration: none;
    border-radius: 2px;
    transition: all .4s ease 0s
}

.a-post-box .latest-cat a:hover {
    background-color: #263241;
    color: #fff
}

.a-post-box .latest-meta {
    font-size: 13px;
    color: #fff;
    margin: 10px 0 0 10px
}

.a-post-box .latest-meta span {
    margin-right: 10px
}

.a-post-box .latest-meta .latest-date {
    font-size: 13px;
    font-weight: 600;
    color: #f3f3f3
}

.a-post-box .latest-content {
    color: #fff;
    margin-top: 30px
}

.a-post-box .latest-img img {
    vertical-align: middle;
    width: 100%
}

.a-post-box .latest-overlay {
    height: 100%;
    position: absolute;
    width: 100%;
    bottom: 0
}

.a-post-box .latest-overlay:hover {
    background-color: rgba(36,36,36,.5);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

.container.a-post-box {
    margin: 0 -10px
}

.vc_col-sm-4 .a-post-box .latest-author,.vc_col-sm-4 .a-post-box .latest-comments,.vc_col-sm-4 .a-post-box .latest-views {
    display: none
}

.vc_col-sm-4 .a-post-box .latest-title,.wpb_column .wpb_column .a-post-box .latest-title {
    font-size: 18px
}

.vc_col-sm-3 .a-post-box .latest-title {
    font-size: 15px;
    letter-spacing: -.5px
}

.vc_col-sm-3 .a-post-box .latest-txt {
    padding: 20px
}

.vc_col-sm-3 .a-post-box .a-post-box .latest-meta {
    margin-left: 10px
}

.vc_col-lg-6 .a-post-box .latest-img,.vc_col-sm-6 .a-post-box .latest-img {
    border-bottom: 1px solid #575757
}

.vc_col-lg-6 .wpb_row.vc_row-fluid .wpb_column .a-post-box .latest-img,.vc_col-sm-6 .wpb_row.vc_row-fluid .wpb_column .a-post-box .latest-img {
    border-bottom: none
}

@media only screen and (max-width: 480px) {
    .a-post-box .latest-txt {
        padding:20px
    }

    .a-post-box .latest-title {
        font-size: 20px
    }

    .a-post-box .latest-meta {
        display: block
    }
}

.latest-img .thumbnail {
    padding: 0;
    margin: 0;
    width: 100%
}

.feat-item .latest-overlay {
    height: 100%;
    background-color: rgba(36,36,36,.4);
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0
}

#big-slid-post .feat-item img {
    display: block;
    width: 100%;
    height: auto
}

.slider_and_box {
    padding: 50px 0;
    background-color: #343434
}

.mian_slider .hz_admin_pic {
    width: 40px;
    float: left;
    margin-right: 10px
}

.mian_slider .hz_admin_pic img {
    border-radius: 100%
}

.mian_slider .latest-meta {
    float: right
}

.mian_slider .latest-cat {
    top: 0
}

.mian_slider .hz_post_by {
    margin-top: 10px;
    display: inline-block
}

.mian_slider span {
    margin-right: 10px
}

.mian_slider a {
    color: #b7b7b7
}

.mian_slider .latest-txt a {
    color: #f3f3f3
}

.mian_slider span i {
    margin-right: 5px;
    color: #ccd1d9
}

.post_box .a-post-box .latest-meta {
    margin: 0
}

.post_box .a-post-box figure {
    overflow: hidden;
    max-height: 270px
}

.featured_slider {
    margin: 30px 0;
    box-shadow: 0 1px 3px rgba(0,0,0,.15);
    background-color: #fff;
    position: relative;
    padding: 20px;
    margin-bottom: 10px
}

#featured_post .item img {
    display: block;
    width: 100%;
    height: auto
}

.featured_title h4 {
    margin: 0;
    line-height: initial;
    display: inline-block
}

.featured_title {
    font-weight: 700;
    padding-bottom: 50px;
    margin-bottom: 20px;
    position: relative
}

.featured_title .navbar-nav {
        float:left;
        margin: 0
    }

.featured_title .navbar-nav>li {
        float: left;
    }
.featured_title .navbar-nav>li a {
	color: #707070;
    font-weight: 500;
    font-size: 15px;
}

.featured_title h4:after {
    content: '';
    width: 50px;
    height: 3px;
    background-color: #3073ad;
    margin-top: 5px;
    display: block
}

.featured_title_post {
    position: absolute;
    padding: 10px 20px;
    bottom: 0;
    background: rgba(34,34,38,.4)
}

.featured_title_post h4 {
    margin: 0;
    padding: 0
}

.featured_slider .item {
    margin-left: 3px;
    margin-right: 3px;
    position: relative
}

.post_date {
    display: inline-block;
    margin-right: 10px
}

.caption_inner a {
    color: #fff
}

.caption_inner .latest-cat a {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 1px 4px;
    color: #fff;
    background-color: #00ada7;
    font-size: 11px;
    text-decoration: none;
    border-radius: 2px;
    transition: all .4s ease 0s
}

.caption_inner .latest-cat a:hover {
    background-color: #263241;
    opacity: 1;
    color: #fff;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s
}

.view_button {
    float: right;
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 1px 4px;
    color: #fff;
    background-color: #00ada7;
    font-size: 11px;
    text-decoration: none;
    border-radius: 2px;
    transition: all .4s ease 0s
}

.view_button:hover {
    background-color: #263241;
    color: #fff
}

.block_posts {
    text-transform: capitalize;
    margin: 0 0 30px 0;
    position: relative;
    padding: 20px 0;
    margin-bottom: 30px;
}

.block_posts .small_post_content a:hover,.featured_cat_slider a:hover {
    color: #00ada7
}

.block_posts .small_post_content a {
    color: #263241
}

.block_posts h4,.block_posts h4 a {
    color: #263241
}

.block_inner img {
    max-width: 100%;
    height: auto;
    opacity: 1
}

.featured_posts_slider .img_post {
    overflow: hidden;
    max-height: 180px
}

.block_img_post,.img_post,.img_small_post,.widget_post_thumbnail {
    margin-bottom: 20px
}

.block_inner img:hover,.featured_posts_slider img:hover,.widget_post_thumbnail img:hover {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-opacity: .5;
    -moz-opacity: .5;
    -ms-opacity: .5;
    -o-opacity: .5;
    opacity: .5
}

.block_inner .img_small_post {
    width: 100px;
    height: auto;
    float: left;
    margin-right: 20px
}

.small_list_post ul {
    margin: 0;
    padding: 0
}

.block_inner .small_list_post li {
    list-style: none;
    border-bottom: 1px solid rgba(221,226,232,.5);
    padding-bottom: 10px;
    margin-bottom: 10px
}

.block_inner .small_list_post li:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0
}

.small_list_post h5 {
    margin: 0
}

.featured_cat_slider .img_post {
    overflow: hidden;
    max-height: 180px
}

.featured_cat_slider .item img {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 160px
}

.featured_cat_slider a {
    color: #fff
}

.block_posts .featured_cat_slider h4 {
    color: #fff
}

.block_4 .title_post h4 {
    margin: 10px 0
}

.block_4 .small_list_post {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid rgba(221,226,232,.5)
}

.block_5 .block_inner {
    display: inline-block;
    width: 100%
}

.block_5 .a-post-box:nth-last-child(3n+0) {
    margin-left: 0
}

.block_5 .a-post-box {
    margin-bottom: 5px;
    width: 32.8%;
    float: left;
    margin-right: 0;
    margin-left: 5px;
    padding: 0
}

.block_5 .a-post-box figure {
    overflow: hidden;
    max-height: 158px
}

.block_5 .a-post-box .latest-title {
    margin: 0
}

.block_5 .latest-txt {
    padding: 15px
}

.block_5 .latest-cat {
    margin-bottom: 7px;
    display: inline-block
}

.block_6 .list_thum {
    line-height: 0;
    position: relative;
    overflow: hidden;
    width: 300px;
    float: left;
    background-color: #000
}

.block_hz_post {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(221,226,232,.5)
}

.block_hz_post:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none
}

.block_6 .list_content {
    display: table-cell
}

.block_6 .block_hz_top_post {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-left: 20px
}

.block_hz_main_post_content {
    padding: 0 0 0 20px;
    display: inline-block
}

.block_hz_main_post_content p {
    margin: 17px 0
}

.block_hz_title_and_meta h4 {
    margin-top: 0
}

.posts_sidebar {
    margin-top: 30px
}

.col-md-12 .grid_post {
    float: left;
    width: 32%
}

.col-md-8 .grid_post {
    float: left;
    width: 48.5%
}

ul#post-slid-post {
    margin: 0
}

.inner_footer,.inner_sidebar {
    margin-left: 20px;
    padding: 0 10px
}

.layout_left_sidebar .inner_sidebar {
    margin-right: 20px;
    margin-left: 0
}

.layout_right_side .inner_sidebar {
    margin-left: 20px;
    margin-right: 0
}

.layout_left_side .inner_sidebar {
    margin-right: 20px;
    margin-left: 0
}

.inner_sidebar .widget {
    color: #c1c0c0;
    margin-bottom: 20px;
    padding: 20px;
    /* background-color: #fff; */
}

.widget h4 {
    padding: 0 0 10px 0;
    margin: 0 0 20px;
    text-transform: capitalize;
    font-size: 16px;
    color: #555
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	    background-color: #eee !important;
}

.widget .widget_title {
    color: #263241
}

.widget_title:after {
    content: '';
    width: 50px;
    height: 3px;
    background-color: #3073ad;
    margin-top: 5px;
    display: block
}


.nav-tabs {
    border-bottom: none!important
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover {
    border-bottom: 3px solid #3073ad!important
}

.widget li {
    list-style: none;
    /* padding-bottom: 10px; */
    /* margin-bottom: 10px; */
    overflow: hidden;
    height: 100%;
    text-transform: capitalize;
}

.widget ol,.widget ul {
    margin: 0;
    padding: 0
}

.widget li:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0
}

.widget .widget_categories li span {
    margin-left: 10px
}

.widget_archive li i,.widget_categories li i {
    float: right;
    margin-left: 10px;
    font-size: 13px;
    line-height: 20px
}

.widget_recent_post .widget_post_thumbnail {
    float: left;
    height: 80px;
    margin-right: 10px;
    width: 80px;
    overflow: hidden
}

.widget_recent_post .widget_post_thumbnail img {
    width: 100%;
    height: 100%
}

.widget_recent_post h5 {
    margin: 0
}

.widget_recent_post h5 a {
	color:#333;
}

.widget_post_info .post_meta {
    margin-top: 10px;
    font-size: 12px
}

.widget_post_info .post_meta span {
    margin-right: 10px
}

.widget_post_info .post_meta span a {
	color: #333;
}

.standard_page {
    margin-top: 30px
}

.standard_page h1,.standard_page h2,.standard_page h3,.standard_page h4,.standard_page h5,.standard_page h6 {
    margin: 15px 0
}

.content li {
    list-style: none
}

.images-bg ul li {
    width: 22px;
    height: 20px;
    border: 1px solid #d1d1d3
}

.images-bg ul li img {
    width: 100%;
    height: 100%;
    margin-top: -7px
}

.images-bg ul li:nth-child(8n+8) {
    margin-right: 0
}

.animated .block_posts,.animated .hz_post,.animated .main_page,.animated .widget {
    opacity: 0
}


